### Start with a dict

In [23]:
original = {
    'name': ['A', 'B', 'C'],
    'stores':
    [
        ['a2323sd', 'asd323', 'asdAA'],
        ['asd432', 'asd432AA', 'asd432'],
        ['asd12BBB3', 'asd123', 'asdBBB123'],
    ]
}
original

{'name': ['A', 'B', 'C'],
 'stores': [['a2323sd', 'asd323', 'asdAA'],
  ['asd432', 'asd432AA', 'asd432'],
  ['asd12BBB3', 'asd123', 'asdBBB123']]}

### Convert to a CSV

In [24]:
import pandas as pd

df = pd.DataFrame(original)
df

  name                          stores
0    A        [a2323sd, asd323, asdAA]
1    B      [asd432, asd432AA, asd432]
2    C  [asd12BBB3, asd123, asdBBB123]

In [25]:
df.dtypes

name      object
stores    object
dtype: object

In [33]:
df.to_csv("stores.csv", index=False)

**Everything is stored as strings!!!**

In [34]:
!cat stores.csv

name,stores
A,"['a2323sd', 'asd323', 'asdAA']"
B,"['asd432', 'asd432AA', 'asd432']"
C,"['asd12BBB3', 'asd123', 'asdBBB123']"

### Read it back in

It's going to read that in as a string even though we know it's a list

In [35]:
df = pd.read_csv("stores.csv")

Tell it to run the text in the `stores` column as Python code, sort of like when you use `response.json()` to convert a string of JSON into an actual object.

In [36]:
df.stores

0          ['a2323sd', 'asd323', 'asdAA']
1        ['asd432', 'asd432AA', 'asd432']
2    ['asd12BBB3', 'asd123', 'asdBBB123']
Name: stores, dtype: object

In [37]:
json.loads('["a2323sd", "asd323", "asdAA"]')

['a2323sd', 'asd323', 'asdAA']

In [38]:
# Convert them back into lists
import ast

df.stores = df.stores.apply(lambda text: ast.literal_eval(text))

And if you want it back into a json

In [39]:
new_dict = df.to_dict(orient='records')
new_dict

[{'name': 'A', 'stores': ['a2323sd', 'asd323', 'asdAA']},
 {'name': 'B', 'stores': ['asd432', 'asd432AA', 'asd432']},
 {'name': 'C', 'stores': ['asd12BBB3', 'asd123', 'asdBBB123']}]